html {
  scroll-behavior: smooth;
}

.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-texto {
  font-size: 2.25rem;
  font-weight: bold;
  color: #141414;
  display: flex;
  align-items: center;
  font-family: monospace;
}

.logo-texto::after {
  content: '|';
  animation: blink 1s step-start infinite;
  margin-left: 2px;
  color: #67dd0a;
}

@keyframes blink {
  50% { opacity: 0; }
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  left: 20px;
  background: #141414;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: calc(100% - 40px);
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
  .header a:after {
    display: none;
  }
}
